
WFU_courses/CSC 691X Big Data Management and Analytics/Porject4_Itermset/mxm_dataset_train.txt
WFU_courses/CSC 691X Big Data Management and Analytics/Porject4_Itermset/porject4.pickle
WFU_courses/CSC 691X Big Data Management and Analytics/Porject4_Itermset/porject4.spydata
